In [2]:
import pandas as pd
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup

# Open list of URLs and print out episode titles and dates.

In [17]:
url_list = pd.read_csv('./rhobh_urls.csv')
for index, row in url_list.iterrows():
    soup = BeautifulSoup(urlopen(row['URL']))
    table = soup.find(class_='wikitable')
    rows = table.find_all('tr', class_='vevent')
    season_number = soup.find("h1").text[-2:].strip()
    for row in rows:
        tds = row.find_all('td')
        episode_number = tds[0].text
        title = tds[1].text[1:-1] # Indexes exclude first and last character of string
        title = title.replace("'", "''") # Use double apostrophes or error would occur in SQL inserts
        date = tds[2].span.text.strip()
        date = date[1:-1]
        print(
f"""(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = {season_number}
        ),
        {episode_number},
        '{title}',
        '{date}'
),""")

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        1,
        'Back to Beverly Hills',
        '2011-09-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        2,
        'Blame It on the Altitude',
        '2011-09-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        3,
        'Rocky Mountain Highs and Lows',
        '2011-09-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        4,
        'Gossip Girls',
        '2011-09-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        5,
        '$25,000 Sunglasses?!',
        '2011-10-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        6,
        'Let the Games Begin',
        '2011-10-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        7,
        'Game Night Gone Wild!',
        '2011-10-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        8,
        'The Opposite of Relaxation',
        '2011-10-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        9,
        'Otherwise Engaged',
        '2011-10-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        10,
        'Your Face or Mine?',
        '2011-11-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        11,
        'Tempest in a Tea Party',
        '2011-11-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        12,
        'The Great Divide',
        '2011-11-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        13,
        'Adrienne''s Fashion Show',
        '2011-11-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        14,
        'Malibu Beach Party From Hell',
        '2011-12-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        15,
        'A Book, a Bachelorette and a Breakdown',
        '2011-12-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        16,
        'Uninvited',
        '2011-12-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        17,
        'Leis and Lies in Lanai',
        '2012-01-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        18,
        'A Day Late, An Apology Short',
        '2012-01-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        19,
        'Night of a Thousand Surprises',
        '2012-01-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        20,
        'The Real Wedding of Beverly Hills',
        '2012-01-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        21,
        'Reunion: Part 1',
        '2012-01-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        22,
        'Reunion: Part 2',
        '2012-02-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        23,
        'Reunion: Part 3',
        '2012-02-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 2
        ),
        24,
        'The Lost Footage',
        '2012-02-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        1,
        'Down and Left Out in Beverly Hills',
        '2012-11-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        2,
        'The Higher the Heel, the Closer to God',
        '2012-11-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        3,
        'Don''t Sing for Your Supper',
        '2012-11-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        4,
        'Uh Oh, Somebody''s Crying!',
        '2012-11-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        5,
        'Girls Gone Ojai''ld',
        '2012-12-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        6,
        'She''s Gone Too Far',
        '2012-12-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        7,
        'Oy, Faye',
        '2012-12-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        8,
        'Unsolved Mistresses',
        '2013-01-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        9,
        'Moroccan Madness',
        '2013-01-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        10,
        'Home Is Where the Art Is',
        '2013-01-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        11,
        'Stars and Strips',
        '2013-01-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        12,
        'Kim Nose Best',
        '2013-02-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        13,
        'Game of Scones',
        '2013-02-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        14,
        'White Party Pooper',
        '2013-02-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        15,
        'The Real Housewives of Paris: Part Un',
        '2013-02-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        16,
        'The Real Housewives of Paris: Part Deux',
        '2013-03-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        17,
        'No Business Like Clothes Business',
        '2013-03-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        18,
        'A Shot Through the Heart',
        '2013-03-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        19,
        'Finale',
        '2013-03-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        20,
        'Reunion: Part One',
        '2013-03-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        21,
        'Reunion: Part Two',
        '2013-04-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 3
        ),
        22,
        'Secrets Revealed',
        '2013-04-08'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        1,
        'A Catered Affair to Remember',
        '2013-11-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        2,
        'Faint Chance',
        '2013-11-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        3,
        'Life''s a Witch',
        '2013-11-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        4,
        'Irked at Cirque',
        '2013-11-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        5,
        'Star of the Family',
        '2013-12-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        6,
        'Palm Springs Breakers',
        '2013-12-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        7,
        'Escape to Bitch Mountain',
        '2013-12-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        8,
        'She Hears You, She Hears You Not',
        '2013-12-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        9,
        'Guess Who''s Coming to Dinner?',
        '2013-12-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        10,
        'Catfight on the Catwalk',
        '2014-01-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        11,
        'Luaus and Lies',
        '2014-01-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        12,
        'Tough Break',
        '2014-01-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        13,
        'The Curse of Carlton',
        '2014-01-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        14,
        'The Birthday Witch',
        '2014-02-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        15,
        'Trail of Doubts',
        '2014-02-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        16,
        'Turning Down the Crown',
        '2014-02-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        17,
        'Lines in the Sand',
        '2014-02-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        18,
        'The Kids Are All Right',
        '2014-03-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        19,
        'Are You My Friend?',
        '2014-03-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        20,
        'Reunion Part 1',
        '2014-03-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        21,
        'Reunion Part 2',
        '2014-03-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        22,
        'Reunion Part 3',
        '2014-03-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 4
        ),
        23,
        'Secrets Revealed',
        '2014-04-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        1,
        'Guess Who''s Coming to the White Party?',
        '2014-11-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        2,
        'Who Stalked J.R.?',
        '2014-11-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        3,
        'Pay Attention to Me!',
        '2014-12-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        4,
        'Livin'' la Vida Housewife',
        '2014-12-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        5,
        'Star Sighting',
        '2014-12-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        6,
        'Medford, 90210',
        '2014-12-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        7,
        'Breaking Branches',
        '2014-12-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        8,
        'Wining and Dining',
        '2015-01-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        9,
        'Live and Learn',
        '2015-01-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        10,
        'House of Cards',
        '2015-01-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        11,
        'It''s Just a Scratch',
        '2015-01-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        12,
        'Drama Queens',
        '2015-02-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        13,
        'Sister Act',
        '2015-02-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        14,
        'Surprise!',
        '2015-02-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        15,
        'Welcome to Amsterdam?',
        '2015-02-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        16,
        'Amster-damn!',
        '2015-03-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        17,
        'Amster-damn Slap',
        '2015-03-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        18,
        'Confessions Of A Housewife',
        '2015-03-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        19,
        'The Party''s Over',
        '2015-03-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        20,
        'Reunion Part I',
        '2015-03-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        21,
        'Reunion Part II',
        '2015-04-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        22,
        'Reunion Part III',
        '2015-04-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 5
        ),
        23,
        'Secrets Revealed',
        '2015-04-21'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        1,
        'Life''s a Pitch',
        '2015-12-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        2,
        'Ciao, Tuscany!',
        '2015-12-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        3,
        'Horsing Around',
        '2015-12-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        4,
        'The M Word',
        '2015-12-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        5,
        'Will Power',
        '2015-12-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        6,
        'Hamptons, 90210',
        '2016-01-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        7,
        'Pretty Mess',
        '2016-01-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        8,
        'Going Deep',
        '2016-01-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        9,
        'Busted BBQ',
        '2016-01-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        10,
        'Backwards in Heels',
        '2016-02-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        11,
        'Please Welcome Erika Jayne!',
        '2016-02-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        12,
        'Hearing Problems',
        '2016-02-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        13,
        'Spinning a Web',
        '2016-02-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        14,
        'Not Easy to Love',
        '2016-03-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        15,
        'Objection, Your Honor',
        '2016-03-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        16,
        'Hearing Is Believing',
        '2016-03-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        17,
        'Lymes in the Sand',
        '2016-03-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        18,
        'Dubai Daze',
        '2016-03-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        19,
        'Goodbye, Dubai',
        '2016-04-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        20,
        'Who Do You Believe?',
        '2016-04-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        21,
        'Reunion Part One',
        '2016-04-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        22,
        'Reunion Part Two"[91',
        '2016-04-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        23,
        'Reunion Part Three"[91',
        '2016-05-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 6
        ),
        24,
        'Secrets Revealed"[91',
        '2016-05-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        1,
        'Stronger Than Ever',
        '2016-12-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        2,
        'The Buddha Bentley Birthday',
        '2016-12-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        3,
        'Going Commando',
        '2016-12-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        4,
        'Pantygate',
        '2016-12-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        5,
        'Amnesia Appetizers',
        '2017-01-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        6,
        'Compromising Positions',
        '2017-01-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        7,
        'It''s Expensive to Be Me',
        '2017-01-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        8,
        'Boys, Blades and Bag of Pills',
        '2017-01-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        9,
        'Harry''s Meat and Gatsby''s Fete',
        '2017-01-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        10,
        'Hostile Hacienda',
        '2017-02-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        11,
        'Backed Into a Corner',
        '2017-02-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        12,
        'Feeding a Need',
        '2017-02-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        13,
        'Cake Therapy',
        '2017-02-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        14,
        'Sweet Georgia Jayne',
        '2017-03-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        15,
        'Hong Kong Fireworks',
        '2017-03-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        16,
        'Big Buddha Brawl',
        '2017-03-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        17,
        'From Dogs to Diamonds',
        '2017-03-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        18,
        'Diamonds Under Pressure',
        '2017-04-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        19,
        'Reunion, Part 1',
        '2017-04-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        20,
        'Reunion, Part 2',
        '2017-04-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 7
        ),
        21,
        'Reunion, Part 3',
        '2017-04-25'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        1,
        'Don''t Cry Over Spilled Wine',
        '2017-12-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        2,
        'Diva Las Vegas',
        '2017-12-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        3,
        'Bad Guys',
        '2018-01-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        4,
        'Lights Out!',
        '2018-01-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        5,
        'Unfashionably Late',
        '2018-01-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        6,
        'Wham, Glam, Thank You Ma''am',
        '2018-01-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        7,
        'Birthday Fever',
        '2018-01-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        8,
        'Petty Mess',
        '2018-02-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        9,
        'That Was Weird',
        '2018-02-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        10,
        'The Big Apple Bites',
        '2018-02-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        11,
        'Thank You, Thuck You',
        '2018-02-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        12,
        'Gag Gift',
        '2018-03-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        13,
        'Crying Shame',
        '2018-03-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        14,
        'Heaven Knows',
        '2018-03-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        15,
        'Dames, Dogs and Danke',
        '2018-03-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        16,
        'Holy Schnitzel',
        '2018-04-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        17,
        'Better Latex Than Never',
        '2018-04-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        18,
        'The Runaway Runway',
        '2018-04-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        19,
        'Reunion Part 1',
        '2018-04-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        20,
        'Reunion Part 2',
        '2018-05-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        21,
        'Reunion Part 3',
        '2018-05-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 8
        ),
        22,
        'Secrets Revealed',
        '2018-05-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        1,
        'Lucy Lucy Apple Juicy',
        '2019-02-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        2,
        'Eat Your Heart Out',
        '2019-02-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        3,
        'Sun and Shade in the Bahamas',
        '2019-02-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        4,
        'Bahama Drama',
        '2019-03-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        5,
        'The Proof Hurts',
        '2019-03-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        6,
        'Fifty Shades of Shade',
        '2019-03-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        7,
        'Eat Drink and Be Married',
        '2019-03-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        8,
        'Showdown at Villa Rosa',
        '2019-04-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        9,
        'A Wolf in Camille''s Clothing',
        '2019-04-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        10,
        'A Supreme Snub',
        '2019-04-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        11,
        'Do You Really Want to Hurt Me?',
        '2019-04-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        12,
        'The Ultimate Ultimatum',
        '2019-04-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        13,
        'Grilling Me Softly',
        '2019-05-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        14,
        'The Show Must Go On',
        '2019-05-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        15,
        'One Wedding and a Polygraph',
        '2019-05-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        16,
        'Meet Rinna Jayne',
        '2019-05-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        17,
        'A Double Shot of Brandi',
        '2019-06-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        18,
        'Pardon Our French',
        '2019-06-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        19,
        'Thirst Impressions',
        '2019-06-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        20,
        'Un Petit Hangover',
        '2019-06-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        21,
        'Hurricane Camille',
        '2019-07-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        22,
        'Reunion Part 1',
        '2019-07-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        23,
        'Reunion Part 2',
        '2019-07-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 9
        ),
        24,
        'Reunion Part 3',
        '2019-07-30'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        1,
        'The Crown Isn''t So Heavy',
        '2020-04-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        2,
        'To Live and Text in Beverly Hills',
        '2020-04-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        3,
        'First Impressions, True Confessions',
        '2020-04-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        4,
        'All''s Fair in Glam and War',
        '2020-05-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        5,
        'Let the Mouse Go!',
        '2020-05-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        6,
        'Read Between the Signs',
        '2020-05-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        7,
        'Santa Denise',
        '2020-05-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        8,
        'Mind Your P''s and BBQ''s',
        '2020-06-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        9,
        'Until We Leave Again',
        '2020-07-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        10,
        'Black Ties and White Lies',
        '2020-07-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        11,
        'Kiss and Tell All',
        '2020-07-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        12,
        'Roman Rumors',
        '2020-07-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        13,
        'There''s No Place Like Rome',
        '2020-08-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        14,
        'That''s Not Amore',
        '2020-08-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        15,
        'Sex, Lies and Text Messages',
        '2020-08-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        16,
        'Denise and Desist',
        '2020-08-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        17,
        'Reunion Part 1',
        '2020-09-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        18,
        'Reunion Part 2',
        '2020-09-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        19,
        'Reunion Part 3',
        '2020-09-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 10
        ),
        20,
        'Secrets Revealed',
        '2020-09-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        1,
        'Dressed to the 90210s',
        '2021-05-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        2,
        'Two Truths and a Lie',
        '2021-05-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        3,
        'Sutton''s Gotta Give',
        '2021-06-02'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        4,
        'Overexposed',
        '2021-06-09'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        5,
        'The Divided States Of Erika',
        '2021-06-16'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        6,
        'The Liberation Of Erika Jayne',
        '2021-06-23'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        7,
        'Defining Women',
        '2021-06-30'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        8,
        'The Good, The Bad and The Ugly Leather Pants',
        '2021-07-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        9,
        'A Pretty Meltdown',
        '2021-07-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        10,
        'Affairs and Accidents',
        '2021-07-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        11,
        'Ice Queen of the Desert',
        '2021-08-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        12,
        'Circle of Distrust',
        '2021-08-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        13,
        'Season''s Grillings',
        '2021-08-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        14,
        'Lips Unsealed',
        '2021-08-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        15,
        'The Dinner Party From Hell: Part Two',
        '2021-09-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        16,
        'Threats and Promises',
        '2021-09-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        17,
        'A Tale of Two Accidents',
        '2021-09-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        18,
        'Del Mar by the Shade',
        '2021-09-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        19,
        'Over-Poured and Over-Board',
        '2021-09-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        20,
        'New Year, Old Grudges',
        '2021-10-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        21,
        'Reunion Part 1',
        '2021-10-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        22,
        'Reunion Part 2',
        '2021-10-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        23,
        'Reunion Part 3',
        '2021-10-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 11
        ),
        24,
        'Reunion Part 4',
        '2021-11-03'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        1,
        'The Break-In',
        '2022-05-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        2,
        'Receipt Offender',
        '2022-05-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        3,
        'There''s Sutton About Crystal',
        '2022-05-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        4,
        'The Crystal Conundrum',
        '2022-06-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        5,
        'In Hot Water',
        '2022-06-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        6,
        'High Cries and Misty Demeanors',
        '2022-06-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        7,
        'Ship-Faced',
        '2022-06-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        8,
        'It Takes A Villain',
        '2022-06-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        9,
        'Calamity Jayne',
        '2022-07-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        10,
        'So You Say',
        '2022-07-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        11,
        'The Weight of Words',
        '2022-07-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        12,
        'Beverly Hills Blackout',
        '2022-07-27'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        13,
        'Ros Colored Glasses',
        '2022-08-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        14,
        'Shameless Not Ruthless',
        '2022-08-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        15,
        'Disco Inferno',
        '2022-08-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        16,
        'Altitude Adjustment',
        '2022-08-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        17,
        'The Girl with the Diamond Earrings',
        '2022-09-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        18,
        'Rocky Mountain Bye',
        '2022-09-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        19,
        'We Need to Talk About Kathy',
        '2022-09-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        20,
        'Silence Is Golden',
        '2022-09-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        21,
        'Not My Sister''s Keeper',
        '2022-10-05'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        22,
        'Reunion Part 1',
        '2022-10-12'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        23,
        'Reunion Part 2',
        '2022-10-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 12
        ),
        24,
        'Reunion Part 3',
        '2022-10-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        1,
        'The Eaglewoman Has Landed',
        '2023-10-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        2,
        'An Unwise Surprise',
        '2023-11-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        3,
        'It''s Not About the Pants',
        '2023-11-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        4,
        'Hellevator',
        '2023-11-15'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        5,
        'Sutton-ly Suspicious',
        '2023-11-22'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        6,
        'Ring Around the Rumor',
        '2023-11-29'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        7,
        'Dazed and Accused',
        '2023-12-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        8,
        'Esopha-Gate',
        '2023-12-13'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        9,
        'A Feisty Fiesta',
        '2023-12-20'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        10,
        'Re-Lentless Erika',
        '2024-01-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        11,
        'A Celebration of Life',
        '2024-01-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        12,
        'Bitter Pill to Swallow',
        '2024-01-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        13,
        'Tapas and Tattletales',
        '2024-01-24'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        14,
        'Aches and Spains',
        '2024-01-31'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        15,
        'Ashing It Out',
        '2024-02-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        16,
        'Diamonds in the Rough',
        '2024-02-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        17,
        'Soirees and Separations',
        '2024-02-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        18,
        'Reunion Part 1',
        '2024-02-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        19,
        'Reunion Part 2',
        '2024-03-06'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 13
        ),
        20,
        'Reunion Part 3',
        '2024-03-13'
),

(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        1,
        'Grace Time Is Over',
        '2024-11-19'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        2,
        'A Sobering Separation',
        '2024-11-26'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        3,
        'Life''s a Beach',
        '2024-12-03'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        4,
        'Twisted Sisterhood',
        '2024-12-10'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        5,
        'High Horses and Low Blows',
        '2024-12-17'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        6,
        'Venom in the Viper Room',
        '2025-01-07'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        7,
        'What the Chuck?',
        '2025-01-14'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        8,
        'A Perfect Storm Out',
        '2025-01-21'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        9,
        'Beachy Keen',
        '2025-01-28'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        10,
        'Sweet Home Augusta',
        '2025-02-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        11,
        'Mind Your Business',
        '2025-02-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        12,
        'Land of the Free, Home of the Shade',
        '2025-02-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        13,
        'Caviar Catastrophe',
        '2025-02-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        14,
        'Hemlines and Headlines',
        '2025-03-04'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        15,
        'Trouble in Paradise',
        '2025-03-11'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        16,
        'Sutton on Trial at Sea',
        '2025-03-18'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        17,
        'A Caribbean Send Off',
        '2025-03-25'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        18,
        'Reunion Part 1',
        '2025-04-01'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        19,
        'Reunion Part 2',
        '2025-04-08'
),
(
        (
            SELECT
                season_id
            FROM
                seasons
            WHERE
                series_id = 'RHOBH'
                AND season_number = 14
        ),
        20,
        'Reunion Part 3',
        '2025-04-15'
),